@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/OpenSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(fonts/OpenSans-Semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('MuseoSans-ExtraBold'), url(fonts/OpenSans-Extrabold.woff2) format('woff2');
}

@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Museo Sans Regular'), local('MuseoSans-Regular'), url(fonts/MuseoSans-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Museo Sans SemiBold'), local('MuseoSans-SemiBold'), url(fonts/MuseoSans_500.woff2) format('woff2');
}

@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Museo Sans Bold'), local('MuseoSans-Bold'), url(fonts/MuseoSans_700.woff2) format('woff2');
}