$bodyBG: #e5e5fe;
$userName: #2b2c33;
$borderColor: #ccc;
$shadowColor: #ccc;
$imgBG: #eee;
$textColor: #999;
$tabBG: #261c46;
$notifyBG: #b61030;
$whiteColor: #fff;
$listBG: #fff;
$colorBlueDark: #4094d1;
$scollBarColor: #aaa;
$buttonBG: #555;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
*{ text-decoration:none; padding:0px; margin:0px; line-height:normal; outline:none; box-shadow:none; list-style:none;}
body { background: $bodyBG; font-family: 'Open Sans', sans-serif; font-weight: 400; color: $textColor; line-height: 24px; font-size: 13px; }
.main{
  height: 90vh;
  margin: 5vh 0px;
  background: url('../images/chatbg.jpg') top left repeat $whiteColor;
  box-shadow: 0px 0px 12px $shadowColor;
  overflow: hidden;
}
.contact-list{
  background: $listBG;
  height: 100%;
  border-right: 1px solid $borderColor;
  position: relative;
  z-index: 1;
  ul{
    margin: 0px;
    li{
      position: relative;
      .user-img{
        height: 50px;
        width: 50px;
        overflow: hidden;
        position: absolute;
        top: 10px;
        left: 0px;
        background: $imgBG;
        border: 1px solid $borderColor;
        border-radius: 5px;
        img{
          width: 100%;
        }
      }
      .user-details{
        margin-left: 65px;
        padding-right: 60px;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 10px;
        padding-top: 10px;
        h2{
          font-size: 1.66em;
          color: $userName;
          font-weight: 300;
          margin-bottom: 10px;
        }
        p{
          font-size: 13px;
          margin: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span{
          position: absolute;
          right: 0px;
          &.notify{
            background: $notifyBG;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            color: $whiteColor;
            text-align: center;
            top: 10px;
            font-size: 12px;
            line-height: 20px;
          }
          &.time{
            font-size: 12px;
            bottom: 10px;
          }
        }
      }
      &.selected{
        background: #eee;
        border-bottom: 1px solid #ccc;
        .user-details{
          border-bottom: none !important;
        }
      }
    }
  }
  > ul:last-child {
    overflow-y: auto;
    height: calc(100% - 130px);
    margin: 0 -15px;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent !important;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scollBarColor;
    }
    li{
      cursor: pointer;
      padding: 0 15px;
      .user-img{
        left: 15px;
      }
      .user-details span {
        right: 15px;
      }
    }
  }
  .my-info{
    background: $tabBG;
    margin: 0 -15px;
    padding: 5px 15px;
    ul{
      li{
        i{
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 24px;
          color: $whiteColor;
        }
        .user-details{
          border-bottom: none !important;
          padding-right: 30px;
          h2{
            line-height: 50px;
            margin: 0px !important;
            color: $whiteColor;
          }
        }
      }
    }
  }
  form{
    border-bottom: 1px solid $borderColor;
    margin: 0 -15px;
    position: relative;
    input{
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 300;
      color: $userName;
      border: none !important;
      box-shadow: none;
      background-color: transparent;
      padding: 0px 10px 0px 60px;
      width: 100%;
    }
    i{
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: $textColor;
      line-height: 60px;
      width: 60px;
      text-align: center;
    }
  }
}
.chat-side{
  position: relative;
  height: 100%;
  .contact-info{
    background: $tabBG;
    margin: 0 -15px;
    padding: 5px 15px;
    ul{
      margin: 0px;
      li{
        position: relative;
        .user-img{
          height: 50px;
          width: 50px;
          overflow: hidden;
          position: absolute;
          top: 10px;
          left: 0px;
          background: $imgBG;
          border: 1px solid $borderColor;
          border-radius: 5px;
          img{
            width: 100%;
          }
        }
        .user-details{
          margin-left: 65px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          h2{
            font-size: 1.66em;
            font-weight: 300;
            line-height: 50px;
            margin: 0px !important;
            color: $whiteColor;
          }
        }
        i{
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 24px;
          color: $whiteColor;
        }
      }
    }
  }
  .chat-form{
    form {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0px;
      background: #fff;
      border-top: 1px solid #ccc;
      height: 60px;
      textarea {
        background: transparent;
        border: none;
        box-shadow: none;
        height: 60px;
        resize: none;
        width: calc(100% - 60px);
        padding: 10px;
        font-size: 16px;
        color: $userName;
      }
      button {
        border: none;
        box-shadow: none;
        background: $tabBG;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 24px;
        color: $whiteColor;
      }
    }
  }
}
.chat-box{
  height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 -15px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scollBarColor;
  }
  .me, .them, .pending, .therePending, .minePending {
    float: right;
    clear: both;
    padding: 5px 15px 15px 15px;
    position: relative;
    p:nth-child(3){
      margin-top: 0px;
    }
    h4 {
      color: $userName;
      font-size: 16px;
      font-weight: 300;
    }
    img{
      cursor: pointer;
      max-width: 100%;
      width: 100%;
      position: relative;
    }
    section{
      background: $colorBlueDark;
      border-radius: 10px;
      padding: 10px;
      color: $whiteColor;
      min-width: 150px;
      box-shadow: 0px 0px 4px #ccc;
      float: right;
      max-width: 300px;
      position: relative;
      margin-top: 5px !important;
      p{
        white-space: pre-line;
      }
      span{
        position: absolute;
        bottom: 5px;
        color: $whiteColor;
        font-size: 10px;
        right: 5px;
      }
    }
  }
  .them, .therePending {
    float: left !important;
    section{
      background: #f1f1f4;
      color: $userName !important;
      float: left;
      span{
        color: $textColor;
      }
    }
  }
}
.overlay {
  background: rgba(0,0,0,0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 9;
  top: 0px;
  left: 0px;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 767px) {
  .main {
    height: 100vh;
    margin: 0px -15px;
  }
  .contact-list {
    position: fixed;
    margin: 0 -15px;
    left: calc(55px - 100vw);
    padding: 0px;
    height: 100vh;
    top: 0px;
    max-width: calc(100vw - 55px);
    overflow: hidden;
    box-shadow: none;
    border-right: 1px solid #ccc;
    transition: left 0.5s ease;
    z-index: 11;
    .my-info {
      width: 100%;
      margin: 0px;
      padding: 0 15px;
      ul{
        li {
          .user-img {
            height: 60px;
            width: 60px;
            left: 0;
            right: 0;
            margin: 0 auto;
            position: relative;
            top: 15px;
          }
          .user-details {
            padding-top: 0px;
            padding-bottom: 5px;
            margin: 10px 0px 0px 0px;
            padding: 0px;
            text-align: center;
            h2{
              font-size: 18px;
            }
          }
          i{
            top: 15px;
            transform: translateY(0);
          }
        }
      }
    }
    form {
      background: #fff;
      width: 100%;
      padding: 0 15px;
      height: 60px;
      margin: 0px;
      input {
        height: 60px;
        line-height: 60px;
        padding: 0px 10px 0px 45px;
      }
    }
    > ul:last-child {
      background: $whiteColor;
      width: 100%;
      padding: 0px;
      height: calc(100vh - 185px);
      margin: 0px;
      &::-webkit-scrollbar {
        width: 0px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent !important;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      .user-details{
        p{
          font-size: 12px;
        }
      }
    }
  }
  .chat-side{
    .contact-info{
      background: $tabBG;
      margin: 0 -15px;
      padding: 0px 15px;
      ul{
        margin: 0px;
        li{
          position: relative;
          .user-img{
            height: 40px;
            width: 40px;
            overflow: hidden;
            position: absolute;
            top: 10px;
            left: 0px;
            background: $imgBG;
            border: 1px solid $borderColor;
            border-radius: 5px;
            img{
              width: 100%;
            }
          }
          .user-details{
            margin-left: 59px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            h2{
              font-size: 1.66em;
              font-weight: 300;
              line-height: 40px;
              margin: 0px !important;
              color: $whiteColor;
            }
          }
          i{
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            color: $whiteColor;
          }
        }
      }
    }
    .chat-box {
      height: calc(100% - 102px);
      &::-webkit-scrollbar {
        width: 0px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent !important;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent !important;
      }
    }
    .chat-form{
      form {
        height: 44px;
        textarea{
          height: 44px;
          width: calc(100% - 44px);
          font-size: 14px;
        }
        button{
          height: 44px;
          width: 44px;
        }
      }
    }
  }
  .contact-list.expand{
    left: 15px;
  }
}
